:root {
    --primario: #9c27b0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco:#fff;
    --negro:#000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*Globales*/

body {
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}


p {
    font: size 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
    color: var(--secundario);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}


/*HEADER*/

.header {
    display: flex;
    justify-content: center;
}

.header_logo{
    margin: 3rem 0;
}

/*Footer*/

.footer{
background-color: var(--primarioOscuro);
padding: 1rem 0;
margin-top: 2rem;
display: flex;
justify-content: center;
}

.footer__texto {

}

/*Navegacion*/


.navegacion {
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion_enlace:last-of-type {
    margin-right: 0;
}
.navegacion_enlace{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: #fff;
font-size: 3rem;
}
.navegacion_enlace--activo,
.navegacion_enlace:hover {
    color: var(--secundario);
}


/*Grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /*Separacion de de colummnas en ambos sentidos*/
}

@media (min-width:768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/*Productos*/


.producto{
 background-color: var(--primarioOscuro);
 padding: 1rem;
}


.producto__informacion{

}

.producto__nombre {
    font-size: 4rem;

}

.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);

}

.producto__nombre,
.producto__precio {
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;

}

/*Grficos*/

.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover; /*Para poner el tamaño total de la imagen*/
}

.grafico--camisas{

    grid-row: 2 / 3;
    grid-column: 1 / 3;
    background-image: url(..//img/grafico1.jpg);


}


.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-column: 1 / 3;
    grid-row: 8 / 9;
}


@media (min-width:768px) {

    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    
    }
    
}


/*Nosotros*/


.nosotros{
    display: grid;
}


@media (min-width:768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.nosotros__imagen{
    grid-row: 1 / 2;
    

}

@media (min-width:768px) {
    .nosotros__imagen {
        grid-column: 2 /3;
    }
}


/*Bloques*/

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /*Separacion entre columnas*/
}


@media (min-width:768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__imagen{
   
}

.bloque__titulo{
    margin: 0;
}

/*Pagina del producto*/

@media (min-width:768px) {
    .camisa{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}


.formulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 2rem;
    
}

.formulario__campo{
    border: 1rem solid var(--primarioOscuro);
    background-color: transparent;
    color: var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    appearance: none;
}

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}